# 2. Pandas Crash - Basic Pandas

## Pandas 는 Series data type 과 DataFrame data type 으로 구성된다.

### Series (1 차원) : numpy array 와 유사. 
- 차이점 - numpy 와 달리 Series 는 axis (행, 열)에 label 을 부여할 수 있다. 즉, numpy 와 같이 숫자로만 indexing 하는 것이 아니라 label 명으로 indexing 을 할 수 있다. 또한 숫자 뿐 아니라 임의의 Python object 를 모두 element 로 가질 수 있다.

### DataFrame (2차원, table)
- Python program 안의 Excel

### Series vs DataFrame
<img src="series-and-dataframe.width-1200.png" width="600">

<img src="base_01_pandas_5_0.png" width="600">

In [1]:
import numpy as np
import pandas as pd

### DataFrame 

DataFrame 은 여러개의 Series 를 같은 index 기준으로 모아 Table 을 만든 것이다.

In [3]:
np.random?

Type:        module
String form: <module 'numpy.random' from 'C:\\Users\\esroh\\anaconda3\\Lib\\site-packages\\numpy\\random\\__init__.py'>
File:        c:\users\esroh\anaconda3\lib\site-packages\numpy\random\__init__.py
Docstring:
========================
Random Number Generation
========================

Use ``default_rng()`` to create a `Generator` and call its methods.

=============== =========================================================
Generator
--------------- ---------------------------------------------------------
Generator       Class implementing all of the random number distributions
default_rng     Default constructor for ``Generator``
=============== =========================================================

============================================= ===
BitGenerator Streams that work with Generator
--------------------------------------------- ---
MT19937
PCG64
PCG64DXSM
Philox
SFC64
============================================= ===

============================================= ===
Getting entropy to initialize a BitGenerator
--------------------------------------------- ---
SeedSequence
============================================= ===


Legacy
------

For backwards compatibility with previous versions of numpy before 1.17, the
various aliases to the global `RandomState` methods are left alone and do not
use the new `Generator` API.

==================== =========================================================
Utility functions
-------------------- ---------------------------------------------------------
random               Uniformly distributed floats over ``[0, 1)``
bytes                Uniformly distributed random bytes.
permutation          Randomly permute a sequence / generate a random sequence.
shuffle              Randomly permute a sequence in place.
choice               Random sample from 1-D array.
==================== =========================================================

==================== =========================================================
Compatibility
functions - removed
in the new API
-------------------- ---------------------------------------------------------
rand                 Uniformly distributed values.
randn                Normally distributed values.
ranf                 Uniformly distributed floating point numbers.
random_integers      Uniformly distributed integers in a given range.
                     (deprecated, use ``integers(..., closed=True)`` instead)
random_sample        Alias for `random_sample`
randint              Uniformly distributed integers in a given range
seed                 Seed the legacy random number generator.
==================== =========================================================

==================== =========================================================
Univariate
distributions
-------------------- ---------------------------------------------------------
beta                 Beta distribution over ``[0, 1]``.
binomial             Binomial distribution.
chisquare            :math:`\chi^2` distribution.
exponential          Exponential distribution.
f                    F (Fisher-Snedecor) distribution.
gamma                Gamma distribution.
geometric            Geometric distribution.
gumbel               Gumbel distribution.
hypergeometric       Hypergeometric distribution.
laplace              Laplace distribution.
logistic             Logistic distribution.
lognormal            Log-normal distribution.
logseries            Logarithmic series distribution.
negative_binomial    Negative binomial distribution.
noncentral_chisquare Non-central chi-square distribution.
noncentral_f         Non-central F distribution.
normal               Normal / Gaussian distribution.
pareto               Pareto distribution.
poisson              Poisson distribution.
power                Power distribution.
rayleigh             Rayleigh distribution.
triangular           Triangular distribution.
uniform              Uniform distribution.
vonmises             Von Mises circular distribution.
wald                 Wald (inverse Gaussian) distribution.
weibull              Weibull distribution.
zipf                 Zipf's distribution over ranked data.
==================== =========================================================

==================== ==========================================================
Multivariate
distributions
-------------------- ----------------------------------------------------------
dirichlet            Multivariate generalization of Beta distribution.
multinomial          Multivariate generalization of the binomial distribution.
multivariate_normal  Multivariate generalization of the normal distribution.
==================== ==========================================================

==================== =========================================================
Standard
distributions
-------------------- ---------------------------------------------------------
standard_cauchy      Standard Cauchy-Lorentz distribution.
standard_exponential Standard exponential distribution.
standard_gamma       Standard Gamma distribution.
standard_normal      Standard normal distribution.
standard_t           Standard Student's t-distribution.
==================== =========================================================

==================== =========================================================
Internal functions
-------------------- ---------------------------------------------------------
get_state            Get tuple representing internal state of generator.
set_state            Set state of generator.
==================== =========================================================

In [2]:
np.random.seed(101)
data = np.random.randn(5,4) #평균 정부 분포 형태로 데이터를 형성했음
data

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

### dataframe 의 column 명

In [3]:
df = pd.DataFrame(data, columns = ["W","X","Y","Z"])
df

          W         X         Y         Z
0  2.706850  0.628133  0.907969  0.503826
1  0.651118 -0.319318 -0.848077  0.605965
2 -2.018168  0.740122  0.528813 -0.589001
3  0.188695 -0.758872 -0.933237  0.955057
4  0.190794  1.978757  2.605967  0.683509

In [14]:
df.columns #칼럼명만 알고 싶을때

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [15]:
df.info() #데이터프레임의 정보를 알고 싶을때

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       5 non-null      float64
 1   X       5 non-null      float64
 2   Y       5 non-null      float64
 3   Z       5 non-null      float64
dtypes: float64(4)
memory usage: 292.0 bytes

In [18]:
df.describe() #데이터프레임의 기술 통계를 알려주는 코드, 데이터가 어떻게 구성되어있는지, 
# 데이터의 분포,전체 평균,표준편차,최솟값,최댓값 등등 알 수 있음, 50%는 중간값, 25,50,75는 통계학에서 1~4분위수까지 알려줌. 데이터의 분포를 파악하기 위해서 필요로하는 정보를 다 알려줌

              W         X         Y         Z
count  5.000000  5.000000  5.000000  5.000000
mean   0.343858  0.453764  0.452287  0.431871
std    1.681131  1.061385  1.454516  0.594708
min   -2.018168 -0.758872 -0.933237 -0.589001
25%    0.188695 -0.319318 -0.848077  0.503826
50%    0.190794  0.628133  0.528813  0.605965
75%    0.651118  0.740122  0.907969  0.683509
max    2.706850  1.978757  2.605967  0.955057

### DataFrame indexing

In [20]:
df["W"] #W에 해당하는 칼럼만 보고 싶을때

0    2.706850
1    0.651118
2   -2.018168
3    0.188695
4    0.190794
Name: W, dtype: float64

In [21]:
df.W

0    2.706850
1    0.651118
2   -2.018168
3    0.188695
4    0.190794
Name: W, dtype: float64

In [24]:
type(df.W) #칼럼은 시리즈 타입이니깐 Series로 나오는거임

pandas.core.series.Series

In [26]:
df[["W","X","Y"]] #여러 개를 보고 싶을때는 대괄호를 두 개 써주기!!

          W         X         Y
0  2.706850  0.628133  0.907969
1  0.651118 -0.319318 -0.848077
2 -2.018168  0.740122  0.528813
3  0.188695 -0.758872 -0.933237
4  0.190794  1.978757  2.605967

### new column 추가/삭제

In [27]:
df["NEW"] = df['X'] + df['Y'] #NEW라는 새로운 칼럼을 추가함 
df

          W         X         Y         Z       NEW
0  2.706850  0.628133  0.907969  0.503826  1.536102
1  0.651118 -0.319318 -0.848077  0.605965 -1.167395
2 -2.018168  0.740122  0.528813 -0.589001  1.268936
3  0.188695 -0.758872 -0.933237  0.955057 -1.692109
4  0.190794  1.978757  2.605967  0.683509  4.584725

In [ ]:
 df.drop("NEW", axis = 1, inplace = True)
#df.drop("NEW")하면 에러남, 기본 디폴트가 axis equal 0 임, 행 방향이 axis 0이고 열 방향이 axis 1
# axis 1으로 없애겠다. 
# 칼럼을 없앨 때는 axis = 1, 칼럼에서 없애겠다를 지정해줘야함.

In [34]:
df # 근데 없앤다고 그냥 없애는 게 아니라 이건 메모리 상에서만 이뤄진거고 원본은 그냥 살아있음

          W         X         Y         Z
0  2.706850  0.628133  0.907969  0.503826
1  0.651118 -0.319318 -0.848077  0.605965
2 -2.018168  0.740122  0.528813 -0.589001
3  0.188695 -0.758872 -0.933237  0.955057
4  0.190794  1.978757  2.605967  0.683509

In [36]:
df.shape

(5, 4)

### Missing Data 처리

- missing data 가 있는 row 혹은 columns 을 완전히 삭제 : dropna()
- 임의의 data 로 대체 : fillna()
- 일반적으로 데이터셋을 볼때 결측치가 많기 때문에 정제해줘야함.

In [40]:
df = pd.DataFrame({"A" : [1,2,np.nan], # 파이썬의 딕셔너리 형태로 데이터프레임을 만들어줄수 있음 
                  "B" : [5,np.nan,np.nan],  # key : value 형태로 들어감, key는 열의 이름, value는 해당 데이터
                  "C" : [1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

### missing value 를 포함하고 있는 모든 row 삭제 - default

In [42]:
df.dropna() #행1,2가 그냥 다 사라지는거임

     A    B  C
0  1.0  5.0  1

In [44]:
df #위에서 inplace = True 를 안했기 때문에 메모리 상에서만 삭제가 되고 원본데이터에선 삭제가 안된 상태

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

### missing value 를 포함하고 있는 모든 column 삭제

In [46]:
df.dropna(axis = 1) #디폴트 값이 axis = 0이고, 칼럼을 삭제하고 싶으면 axis = 1이라고 설정해야함

   C
0  1
1  2
2  3

In [47]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

### missing value 대체

In [50]:
df.fillna(0)
df.fillna(value = 0)

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

In [54]:
df #A의 평균값을 계산할 때 nan은 무슨 값인지 모르니깐 빠짐, 1과 2의 평균 1.5로 채워짐

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [55]:
df.fillna(df["A"].mean()) #결측치를 채울때 A의 평균값으로 채워라, A 칼럼의 평균값은 1.5

     A    B  C
0  1.0  5.0  1
1  2.0  1.5  2
2  1.5  1.5  3

### excel file handling
- csv 파일 읽어오는 방법

In [59]:
df = pd.read_csv("winequality-red.csv", sep = ";") #read csv는 디폴트로 콤마로 분리된 것을 찾음
df #근데 만든 사람이 세미콜론으로 나눠서 구분자로 지정해줘야함

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [60]:
df.head() # 맨 앞 5개만 나옴

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [61]:
df.tail() #맨 뒤 5개만 나옴

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6