# Python Crash Course

* Data types
    * Numbers(float, int)
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
    * Numbers,Strings,Booleans 이건 원시 데이터 타입임
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1+1

2

In [2]:
1 * 3

3

In [3]:
1/2

0.5

In [4]:
5 % 2

1

### Variable Assignment

### Strings

In [5]:
data = "hello world"
type(data)

str

In [6]:
data[0:5]

'hello'

In [7]:
data[-1]

'd'

In [8]:
data[-2]

'l'

In [9]:
data[len(data)-1]

'd'

### Printing

In [10]:
x = 'hello'

In [11]:
x

'hello'

In [12]:
num = 12
name = "Sam"

In [13]:
print("내 나이는 {}이고 이름은{}입니다.".format(num,name))

내 나이는 12이고 이름은Sam입니다.

### Lists

In [14]:
my_list = ['a','b','c']
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [15]:
my_list[0], my_list[-1]

('a', 'd')

In [16]:
my_list[0] = "NEW"
my_list

['NEW', 'b', 'c', 'd']

In [17]:
len(my_list)

4

In [18]:
nest = [1,2,3,['a','b','c']]
nest[3][0]

'a'

### Dictionaries

In [19]:
d = {'k' : 100, 'k2' : 200, 'k3' : 300}
d['k3']

300

### Booleans

In [20]:
True

True

In [21]:
False

False

### Tuples(튜플은 값을 바꿀 수 없음)

### Sets(중복을 제거할때 집합을 많이 사용함)

In [22]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

## Logic Operators

## if, elif,  else Statements

In [23]:
x = 100

if x < 50:
    print("x < 50")
elif x > 1000:
    print("elif block")
else:
    print("else block")

else block

## for Loops

In [24]:
seq = ['a','b','c','d','e']

In [25]:
for item in seq: #인덱스에 따라서 하나씩 처리할 수 있
    print(item)

a
b
c
d
e

In [26]:
list(enumerate(seq)) #인덱스하고 값을 같이 반환하게 됨

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [27]:
for i,x in enumerate(seq):
    print(i , x)

0 a
1 b
2 c
3 d
4 e

## while Loops

In [28]:
i = 1
while i < 5:
    print("i is:{}".format(i))
    i = i + 1

i is:1
i is:2
i is:3
i is:4

## range()

In [29]:
range(5)

range(0, 5)

In [30]:
for i in range(5):
    print(i)

0
1
2
3
4

In [31]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

## list comprehension

## functions

## lambda expressions

In [32]:
def test(x):
    return x * 10
test(10)

100

In [33]:
(lambda x : x*10)(10) #이름 없는 함수

100

## map and filter(함수를 하나하나 정해서 매핑해줄때 map사용)

In [34]:
seq = [1,2,3,4,5]

In [35]:
list(map(lambda x:x*2, seq))

[2, 4, 6, 8, 10]

In [36]:
filter(lambda x:x%2 == 0,seq)

In [37]:
list(filter(lambda x:x%2 == 0,seq))

[2, 4]

## methods(클래스 안에 선언된 함수는 메서드라고 불림)

In [38]:
st = "hello my name is Sam"

In [39]:
st.lower()

'hello my name is sam'

In [40]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [41]:
tweet = "Go Sports! #Sports"

In [42]:
tweet.split("#")

['Go Sports! ', 'Sports']

In [43]:
tweet.split("#")[1]

'Sports'